<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header dropdown">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Mvc Shop</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Item1</a></li>
                    <li><a href="#">Item2</a></li>
                    <li><a href="#">Item3</a></li>
                </ul>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-th-large"></i>Drop Down<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Item1</a></li>
                            <li><a href="#">Item2</a></li>
                            <li><a href="#">Item3</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Home")">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a class="btn btn-large" href="#">Services</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="jumbotron">
        <div class="container">
            <h3>Welcome <small>This is my MvcShop tutorial</small></h3>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @RenderSection("featured", required: false)
            </div>
            <div class="col-lg-8">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h4 class="muted text-center">Meet Our Clients</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="btn"><i class="icon-user"></i>Our Clients</a>
            </div>
            <div class="col-lg-4">
                <h4 class="muted text-center">Know Our Employees</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="btn btn-success"><i class="icon-star icon-white"></i>Our Employees</a>
            </div>
            <div class="col-lg-4">
                <h4 class="muted text-center">Reach Us</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <a href="#" class="btn btn-info">Contact Us</a>
            </div>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        @RenderSection("scripts", required: false)

    </div>
</body>
</html>
